.homepage {
    background: url('https://scientificrussia.ru/images/y/335y-full.jpg') no-repeat center  center fixed;
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.spaceman{
    height: 45vh;
    animation: floatAnimation 3s ease-in-out infinite alternate;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0); /* Начальное положение - без смещения по вертикали */
    }
    100% {
        transform: translateY(-10px); /* Конечное положение - смещение вверх на 10px */
    }
}

.hero .content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.view-flights-button {
    border-radius: 8px;
    border-style: unset;
    background-color: #4080DF;
    width: 100%;
    color: white;
    height: 45px;
}


.view-flights-button:hover{
    /*background-color: #2980b9;*/
    /*transform: scale(1.05);*/
}

.view-flights-button:hover {
    background-color: #63b8ff;
}

.info-section {
    /*background: url('https://w.forfun.com/fetch/b7/b74f2ebb03086b984504457dc8a84505.jpeg') no-repeat center center fixed;*/
    padding: 50px 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh; /* Обеспечить достаточную высоту для секции */
}

.info-section.appear {
    opacity: 1;
    transform: translateY(0);
}

.info-content {
    max-width: 800px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.info-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.info-section p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.info-section ul {
    list-style-type: none;
    padding: 0;
}

.info-section ul li {
    font-size: 1.2em;
    margin: 10px 0;
}